@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color:#1c1c1c; cursor: url(../images/cursor_a.png), auto;}
body{
    font-family: 'Cafe24Ssurround';
    font-size: 14px;
    line-height: 26px;
    color: #1c1c1c;
    background-color: #fffad8;
    min-width: 1320px;
    cursor: url(../images/cursor.png), auto;
}

/*메인-헤더*/
#header{
    position: relative; /*서브메뉴의 기준*/
}
.header_inner{
    margin: 0 auto;
    width: 1200px;
    height: 171px;
}
.nav> li{
    float: left;
    width: 225px;
    text-align: center;
}
.nav> li> a{
    display: inline-block;
    margin-top: 120px;
    font-size: 23px;
}
.nav> li:nth-child(3)> a{
    margin-top: 30px;
}
.nav> li:nth-child(3) img{
    width: 250px;
}
.nav> li:nth-child(3) {
    width: 300px;
}
.nav> li> a:hover{
    color: #f6a247;
}

/*서브메뉴 꾸미기*/
.sub{
    background-color: rgba(246,162 , 71, 0.6);
    position: absolute;/*헤더가 기준*/
    width: 100%;
    left: 0;
    top: 171px;
    height: 236px;
    margin: 0 auto;
    display: none; /*서브메뉴 안보이게 만들기*/
    z-index: 99;
    text-align: left;
}
.sub div{
    width: 1118px;
    margin: auto;
}
.sub ul{
    float: left;
    font-size: 18px;
}
.sub ul:nth-child(1){
    margin-right: 142px;
    margin-left: 20px;
}
.sub ul:nth-child(2){
    margin-right: 415px;
}
.sub ul:nth-child(3){
    margin-right: 120px;
}
.sub ul li a{
    display: block;
    margin: 20px 10px ;
    color: #fff;
}
.sub ul li a:hover{
    color: #7c5435;
}

/*서브메뉴 보이게 만들기
.nav li:hover .sub{
    display: block;
}*/

/*메인-컨텐츠1*/
#content1{
    overflow: hidden;
    margin-top: 200px;
}
.c_inner{
    position: relative;
    width: 1320px;
    margin: 30px auto;
}
#content1 h1{
    font-size: 50px;
    display: block;
    margin-bottom: 250px;
    line-height:30px;
    text-align: center;
    position: relative;
}
#content1 h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    color: #f6a247;
}
#content1 h1 span:nth-child(1){color: #f6a247;}
#content1 h1 span:nth-child(1){color: #7c5435;}
#content1 h1 span:nth-child(3){top: -100px;}
.c_inner> img{
    position: absolute;
    display: inline-block;
}
.c_inner> img:nth-child(1){
    left: 50px;
    animation: ani1 0.5s ease-in-out infinite alternate;
}
.c_inner> img:nth-child(2){
    left: 10px;
    top: 500px;
    animation: ani2 0.5s ease-in-out infinite alternate;
}
.c_inner> img:nth-child(3){
    right: 80px;
    top: 380px;
    animation: ani3 0.5s ease-in-out infinite alternate;
}
.c_inner> img:nth-child(4){
    left: -400px;
    top: 260px;
}
.c_inner> img:nth-child(5){
    right: -500px;
}
.c_inner> img:nth-child(6){
    left: -300px;
    top: 800px;
}
.c_inner> img:nth-child(7){
    left: 400px;
    top: 800px;
}
.c_inner> img:nth-child(8){
    right: -500px;
    top: 800px;
}
#Layer_1{
    position: absolute;
    left: 100px;
    top: 720px;
}
#Layer_2{
    position: absolute;
    left: 1000px;
    top: 650px;  
 }
#Layer_3{
    position: absolute;
    left:-500px;
    top: 630px;
}
#content1 h2{
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 55px;
    padding: 750px 0 100px 0;
}
@keyframes ani1{
    0%{top:0 ;} /*원래위치에서 시작*/
    100%{top: -20px;}
}
@keyframes ani2{
    0%{ left: 10px; top: 500px;}
    100%{top: 480px;}
}
@keyframes ani3{
    0%{ right: 80px; top: 380px;}
    100%{top: 360px;}
}
/*svg*/
.st0{
    fill:none;
    stroke:#f6a247;
    stroke-width:5;
    stroke-miterlimit:10;
    stroke-dasharray: 150%;
    stroke-dashoffset: 150%;
    animation: stroke 4s infinite alternate;
}
@keyframes stroke{
    0%{stroke-dashoffset:150%;}
    100%{stroke-dashoffset: 0;}
}
#Layer_1, #Layer_2, #Layer_3 {
    width: 120%;
}


/*메인-컨텐츠2/케이크*/
#content2{
    background-color: #fff2ec;
    text-align: center;
}
.c_inner2{
    width: 1320px;
    height: 500px;
    margin: auto;
    text-align: center;
}
.c_inner2 p{
    font-size: 40px;
    display: inline-block;
    margin-top: 100px;
}

/*메인-띠에니메이션*/
.marquee{
    position: relative;
    background-color: #fff2ec;
    overflow: hidden;
    width: 100%;
    height: 56px;
    padding: 80px 0;
    margin-bottom: 100px;
}
.marquee div{
    width: 200%;
    height: 56px;
    position: absolute;
    background: url(../images/com_text.png) repeat-x;
    background-color: #fff2ec;
    animation: marquee 7s linear infinite;
}
@keyframes marquee{
    0%{left: 0;}
    100%{left: -100%;}
}

/*메인-sns*/
#sns{
    margin-bottom: 100px;
}
.s_inner{
    margin: auto;
    width: 95%;
    overflow: hidden;
}
.s_inner a{
    position: relative;
    display: block;
    float: left;
    width: 13.85%;
    margin-right: 0.43%;
    border-radius: 37px;
    overflow: hidden;
    color: #fff;
    font-family: 'SDSamliphopangche_Basic';
}
.s_inner a:hover img{
    transform: scale(1.2, 1.2);
}
#sns .s_inner P{
    text-align: center;
    padding: 40PX ;
    font-size: 24PX;
}
.s_inner> a> img{
    display: block;
    width: 100%;
    transition: all 1s;
}
.s_inner a:hover div {
    opacity: 1;
    transition: all 1s;
}
.s_inner div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: rgba(246, 162, 71,0.5);
     padding-top: 50%;
     box-sizing: border-box;
     text-align: center;
     opacity: 0;
}
.s_inner a div img{
    vertical-align: middle;
    margin: 7px;
}

/*메인-멤버십*/
#membership{
    width: 1320px;
    overflow: hidden;
    margin: auto;
}
#membership p{
    padding: 40px 0 0 450px ;
    font-size: 24PX;
    position: relative;
}
/*버튼 꾸미기*/
#membership a{
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px 30px;
    padding: 5px 10px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 420px;
    top: 28px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
#membership a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
#membership a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
#membership a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
#membership a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
#membership a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
#membership a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
#membership a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}
/*꾸미기*/
#membership ul{
    float: left;
    margin: 50px auto 200px 0 ;
    width: 1320px;
    text-align: center;
}
#membership ul li{
    float: left;
    margin-left: 50px;
}
#membership h4{
    font-size: 22px;
    padding: 20px 0 ;
}
#membership h5{
    color: #fff;
    font-size: 14px;
    font-family: 'SUIT-Regular';
}
#membership .m_inner ul li:nth-child(odd) h5{
    border-radius: 50px;
    border: #7c5435 1px solid;
    background-color: #7c5435;
}
#membership .m_inner ul li:nth-child(even) h5{
    border-radius: 50px;
    border: #f6a247 1px solid;
    background-color: #f6a247;
}

/*푸터*/
#footer{
    background-color: #fff2ec;
    font-family:'SUIT-Regular' ;
}
.f_inner{
    margin: auto;
    width: 1320px;
    overflow: hidden;
    padding: 30px 0;
}
.f_logo{
    float: left;
    display: block;
    margin-right: 10px;
}
.right{
    float: right;
    right: 0;
    display: block;
}
.right a img{
    display: block;
    float: right;
    margin: 5px 29px 50px -14px;
    opacity: 0.6;
}
.right a img:hover{
    opacity: 1;
}
.f_inner h6{
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin: 40px 33px 0;
    text-align: right;
}
.left{
    float: left;
    display: block;
    margin: 45px 0;
}
.clear{
    clear: both;
    text-align: center;
}
.right p{
    margin: 5px 16px 0px -47px;
}

/*top 버튼*/
.top{
    list-style: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/*브랜드-소개/메뉴박스*/
.bg1{
    width: 100%;
    height: 350px;
    background: url(../images/bg_1.png) no-repeat center top fixed;
    box-sizing: border-box;
    text-align: center;
}
.bg1_inner{
    width: 1320px;
    height: 350px;
    margin: auto;
    position: relative;
}
.bg1 h1{
    position: absolute;
    top: 70px;
    left: -180px;
    display: inline-block;
    border: 1px solid #f6a247;
    background-color: #f6a247;
    color: #fff;
    font-size: 20px;
    border-radius:50px;
    text-align: center;
    padding: 15px 12px;
}
.bg1 h2{
    display:inline-block;
    border: 1px solid #f6a247;
    background-color: #f6a247;
    color: #fff;
    font-size: 50px;
    border-radius:50px;
    text-align: center;
    padding: 25px 20px;
    margin:  130px 0 0 0;
}
/*브랜드-소개/내용*/
#brand{
    overflow: hidden;
    margin-top: 100px;
}
.brand_1{
    position: relative;
    text-align: center;
    width: 1320px;
    height: 700px;
    margin: 30px auto;
}
.brand_1 h1{
    font-family: 'SDSamliphopangche_Basic';
    margin-bottom: 150px;
    font-size: 40px;
    font-weight: 300;
}
.brand_1 h2{
    color: #7c5435;
    font-size: 30px;
    margin-bottom: 15px;
    word-spacing: 5px;
}
.brand_1 h3{
    color: #7c5435;
    font-size: 30px;
    margin-bottom: 150px;
    word-spacing: 5px;
}
.brand_1 h4{
    font-family: 'SDSamliphopangche_Basic';
    margin-bottom: 120px;
    font-size: 40px;
    font-weight: 300;
}
.brand_1 img{
    position: absolute;
    display: inline-block;
}

.brand_1 :nth-child(5){
    left: -500px;
    top: 10px;
}
.brand_1 :nth-child(6){
    left: 120px;
    top: 550px;
    animation: b_ani1 0.5s ease-in-out infinite alternate;
}
.brand_1 :nth-child(7){
    right: 330px;
    top: 550px;
    animation: b_ani2 0.5s ease-in-out infinite alternate;
}
.brand_1 :nth-child(8){
    right: -90px;
    top: 50px;
    animation: b_ani3 0.5s ease-in-out infinite alternate;
}
.brand_1 :nth-child(9){
    right: -410px;
    top: 300px;
}
@keyframes b_ani1 {
    0%{ left: 120px; top: 550px;}
    100%{top: 540px;}
}
@keyframes b_ani2 {
    0%{ right: 330px; top: 550px;}
    100%{top: 540px;}
}
@keyframes b_ani3 {
    0%{ right: -90px;  top: 50px;}
    100%{top: 40px;}
}
.brand_2{
    width: 1320px;
    height: 1200px;
    margin: 100px auto;
    position: relative;
}
.brand_2 img:nth-child(1){
    position: absolute;
    left: -292px;
}
.brand_2 img:nth-child(3){
    position: absolute;
    top: 500px;
    right: -292px;
}
.b_text{
    position: absolute;
    top: 80px;
    right: 40px;
}
.brand_2 .b_text p{
    display: block;
    text-align: left;
    margin: 15px 0 0 0;
    font-family: 'SDSamliphopangche_Basic';
    font-weight: 200;
    font-size: 25px;
}
.brand_2 .b_text h2{
    margin-top:100px;
    color: #7c5435;
    font-size: 40px;
}
.b_text2{
    position: absolute;
    top: 700px;
    left: 90px;
    margin-left: 60px;
}
.brand_2 .b_text2 p{
    display: block;
    text-align: right;
    margin: 15px 0 0 0;
    font-family: 'SDSamliphopangche_Basic';
    font-weight: 200;
    font-size: 25px;
}
.brand_2 .b_text2 h4{
    margin-top:100px;
    color: #7c5435;
    font-size: 40px;
}


/*브랜드-bi/메뉴박스*/
.bg2{
    width: 100%;
    height: 350px;
    background: url(../images/bg_2.png) no-repeat center top fixed;
    box-sizing: border-box;
    text-align: center;
}
.bg2_inner{
    width: 1320px;
    height: 350px;
    margin: auto;
    position: relative;
}
.bg2 h1{
    position: absolute;
    top: 70px;
    left: -180px;
    display: inline-block;
    border: 1px solid #f6a247;
    background-color: #f6a247;
    color: #fff;
    font-size: 20px;
    border-radius:50px;
    text-align: center;
    padding: 15px 12px;
}
.bg2 .bg2_inner h2{
    display:inline-block;
    border: 1px solid #f6a247;
    background-color: #f6a247;
    color: #fff;
    font-size: 50px;
    border-radius:50px;
    text-align: center;
    padding: 25px 20px;
    margin:  130px 0 0 0;
}
/*브랜드-bi/내용*/
#bi{
    margin-top: 200px;
}
.bi_inner{
    text-align: center;
    width: 1320px;
    height: 1000px;
    margin: 30px auto;
    background: url(../images/icon_9.png) no-repeat 86% 0% ;
}
.bi_inner img:nth-child(1){
    float: left;
}
.bi_inner .text{
    float: right;
    height: 467px;
    margin: 0px 150px 0 0;
    box-sizing: border-box;
}
.text h3{
    color: #7c5435;
    font-size: 30px;
    display: block;
    padding:  120px 30px 80px 0;
}
.text p{
    margin: 15px 0 0 0;
    font-family: 'SDSamliphopangche_Basic';
    font-weight: 200;
    font-size: 25px;
    text-align: left;
}
.bi_inner img:nth-child(3){
    float: left;
    margin: 130px 80px 0 0;
    
}
.bi_inner img:nth-child(4){
    float: left;
    margin: 130px 0 0 0;
}


/*브랜드-매장찾기/메뉴박스*/
.bg3{
    width: 100%;
    height: 350px;
    background: url(../images/bg_3.png) no-repeat center top fixed;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}
.bg3_inner{
    width: 1320px;
    height: 350px;
    margin: auto;
    position: relative;
}
.bg3 h1{
    position: absolute;
    top: 70px;
    left: -180px;
    display: inline-block;
    border: 1px solid #f6a247;
    background-color: #f6a247;
    color: #fff;
    font-size: 20px;
    border-radius:50px;
    text-align: center;
    padding: 15px 12px;
}
.bg3 .bg3_inner h2{
    display:inline-block;
    border: 1px solid #f6a247;
    background-color: #f6a247;
    color: #fff;
    font-size: 50px;
    border-radius:50px;
    text-align: center;
    padding: 25px 20px;
    margin:  130px 110px 0 0;
}
iframe{
    margin: 0 auto;
    display: block;
}
.i_all{
    position: relative;
    display: block;
    width: 1320px;
    margin: auto;
}
.i_box{
    width: 320px;
    height: 600px;
    background-color: #f6a247;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.i_box p{
    color: #fff;
    display: block;
    font-size: 25px;
    margin:  50px 0px 20px 0;
    text-align: center;
    letter-spacing: 2px;
}
.i_box input{
    border-radius: 50px;
    padding: 10px 40px;
    margin:  0 0 20px 35px;
    border: #fff 1px solid;
    background:#fff url(../images/icon_10.png) no-repeat 95% 20% ;
}
.i_box h6{
    font-size: 20px;
    color: #fff;
    text-align: center;
    display: block;
    background:  url(../images/icon_11.png ) no-repeat 95px;
    padding: 10px 0 0 15px;
}
.i_text1, .i_text2, .i_text3, .i_text4{
    border-bottom: #fff 3px solid;
    width: 220px;
    text-align: left;
    margin: 13px auto;
    font-family: 'SUIT-Regular';
    padding-left: 45px ;
}
.i_text4{
    border-bottom:0 ;
}
.i_box h4, h5{
    font-size: 14px;
    display: block;
}
.i_text1{background: url(../images/icon_12.png) no-repeat left;
    margin-top: 50px;}
.i_text2{background: url(../images/icon_13.png) no-repeat left;}  
.i_text3{background: url(../images/icon_14.png) no-repeat left;}  
.i_text4{background: url(../images/icon_15.png) no-repeat left;} 

/*브랜드-띠에니메이션*/
.marquee2{
    position: relative;
    background-color: #f2a279;
    overflow: hidden;
    width: 100%;
    height: 56px;
    padding: 80px 0;
    margin-top: 200px ;
}
.marquee2 div{
    width: 200%;
    height: 56px;
    position: absolute;
    background: url(../images/brand_text.png) repeat-x;
    background-color: #f2a279;
    animation: marquee 7s linear infinite;
}
@keyframes marquee2{
    0%{left: 0;}
    100%{left: -100%;}
}

/*봄비메뉴-메뉴박스*/
#menu{
    width: 100%;
    height:350px;
    background: url(../images/menu_bg.png) no-repeat center;
    box-sizing: border-box;
}
.me_inner{
    width: 1320px;
    height: 350px;
    margin: auto;
    position: relative;
}
.me_inner img{
    position: absolute;
    top: 150px;
    left: 500px;
    display: inline-block;
}
.me_inner h1{
    position: absolute;
    top: 70px;
    left: -180px;
    display: inline-block;
    border: 5px solid #fff;
    background-color: #f6a247;
    color: #fff;
    font-size: 20px;
    border-radius:50px;
    text-align: center;
    padding: 15px 12px;
}
.me_icon{
    position: absolute;
}

.me_icon :nth-child(1){
    top: 160px;
    left: 290px;
    animation: me_icon1 0.5s ease-in-out infinite alternate;
}
.me_icon :nth-child(2){
    top: 40px;
    left: 430px;
    animation: me_icon2 0.5s ease-in-out infinite alternate;
}
.me_icon :nth-child(3){
    top: 30px;
    left: 800px;
    animation: me_icon3 0.5s ease-in-out infinite alternate;
}
.me_icon :nth-child(4){
    top: 160px;
    left: 940px;
    animation: me_icon4 0.5s ease-in-out infinite alternate;
}
@keyframes me_icon1{
    0%{top:160px ;} /*원래위치에서 시작*/
    100%{top: 150px;}
}
@keyframes me_icon2{
    0%{top:40px ;} /*원래위치에서 시작*/
    100%{top: 30px;}
}
@keyframes me_icon3{
    0%{top:30px ;} /*원래위치에서 시작*/
    100%{top: 20px;}
}
@keyframes me_icon4{
    0%{top:160px ;} /*원래위치에서 시작*/
    100%{top: 150px;}
}

/*봄비메뉴-디저트*/
#dessert{
    width: 1320px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
#dessert h1{
    font-size: 40px;
    margin: 100px 0;
}
/*버튼 꾸미기*/
#dessert a{
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px -25px;
    padding: 5px 15px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 25px;
    top: 100px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
#dessert a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
#dessert a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
#dessert a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
#dessert a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
#dessert a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
#dessert a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
#dessert a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}
#dessert ul li{
    float: left;
    margin: 0 60px 0 0;
    padding: 0 0 100px 0;
    box-sizing: border-box;
    overflow: hidden;
}
#dessert ul li:nth-child(4){
    margin-right: 0;
}
#dessert p{
    font-size: 18px;
    margin-top: 10px;
}
#dessert ul li:hover img{
    transform: scale(1.1, 1.1);
}
#dessert ul li:hover p{
    color: #f6a247;
    font-size: 20px;
}
#dessert ul li img{
    transition: all 1s;
    display: block;
}
#dessert ul li div{
    overflow: hidden;
    width: 285px;
    height: 285px;
    border-radius: 20px;
}
/*팝업 꾸미기*/
.popup{/*화면전체 배경*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.popup div{/*가운데 창*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffad8;
    font-family:'SUIT-Regular';
    color: #7c5435;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    width: 413px;
    height: 639px;
    box-sizing: border-box;
}
.popup p{
    color: #7c5435;
    font-weight: bold;
    margin-bottom: 30px;
}
.popup h1{
    border-top: 5px solid #7c5435;
    padding: 15px 0 30px 0;
}
.popup h2{
    margin-bottom: 30px;
}
.popup img{
    display: block;
    margin: 15px auto 30px;
}
.popup table{
    width: 100%;   
    border-collapse: collapse;
}
th{
    background-color: #ffb857;
    width: 25%;
}
td{
    background-color: #ffd179;
    text-align: center;
    font-weight: bold;
    width: 25%;
}
.popup a{
    position: absolute;
    right: 30px;
    top: 20px;
}
.x{
    position: absolute;
}
.x_h{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.x:hover .x_h{
    opacity: 1;
   } 

/*봄비메뉴-음료*/
#beverage{
    width: 1320px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
#beverage h1{
    font-size: 40px;
    margin: 100px 0;
}
/*버튼 꾸미기*/
#beverage a{
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px -25px;
    padding: 5px 15px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 25px;
    top: 100px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
#beverage a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
#beverage a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
#beverage a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
#beverage a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
#beverage a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
#beverage a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
#beverage a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}
#beverage ul li{
    float: left;
    margin: 0 60px 0 0;
    padding: 0 0 100px 0;
    box-sizing: border-box;
}
#beverage ul li:nth-child(4){
    margin-right: 0;
}
#beverage p{
    font-size: 18px;
    margin-top: 10px;
}
#beverage h2{
    font-size: 21px;
    margin-top: -25px;
    text-align: right;
}
#beverage ul li:hover img{
    transform: scale(1.1, 1.1);
}
#beverage ul li:hover p{
    color: #f6a247;
    font-size: 20px;
}
#beverage ul li:hover h2{
    color: #f6a247;
    font-size: 20px;
}
#beverage ul li img{
    transition: all 1s;
    display: block;
}
#beverage ul li div{
    overflow: hidden;
    width: 285px;
    height: 285px;
    border-radius: 20px;
}
/*팝업 꾸미기*/
.popup2{/*화면전체 배경*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.popup2 div{/*가운데 창*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffad8;
    font-family:'SUIT-Regular';
    color: #7c5435;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    width: 413px;
    height: 639px;
    box-sizing: border-box;
}
.popup2 p{
    color: #7c5435;
    font-weight: bold;
    margin-bottom: 50px;
}
.popup2 h1{
    border-top: 5px solid #7c5435;
    padding: 15px 0 30px 0;
}
.popup2 h2{
    margin-bottom: 50px;
}
.popup2 img{
    display: block;
    margin: 15px auto 30px;
}
.popup2 table{
    width: 100%;   
    border-collapse: collapse;
}
.popup2 th{
    background-color: #ffb857;
    width: 25%;
}
.popup2 td{
    background-color: #ffd179;
    text-align: center;
    font-weight: bold;
    width: 25%;
}
.popup2 a{
    position: absolute;
    right: 30px;
    top: 20px;
}

/*봄비메뉴-굿즈*/
#goods{
    width: 1320px;
    overflow: hidden;
    margin:  auto;
    position: relative;
}
#goods h1{
    font-size: 40px;
    margin: 100px 0;
}
/*버튼 꾸미기*/
#goods a{
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px -25px;
    padding: 5px 15px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 25px;
    top: 100px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
#goods a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
#goods a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
#goods a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
#goods a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
#goods a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
#goods a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
#goods a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}
#goods ul li{
    float: left;
    margin: 0 60px 0 0;
    padding: 0 0 200px 0;
    box-sizing: border-box;
}
#goods ul li:nth-child(4){
    margin-right: 0;
}
#goods p{
    font-size: 18px;
    margin-top: 10px;
}
#goods ul li:hover img{
    transform: scale(1.1, 1.1);
}
#goods ul li:hover p{
    color: #f6a247;
    font-size: 20px;
}
#goods ul li img{
    transition: all 1s;
    display: block;
}
#goods ul li div{
    overflow: hidden;
    width: 285px;
    height: 285px;
    border-radius: 20px;
}
/*팝업 꾸미기*/
.popup3{/*화면전체 배경*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.popup3 div{/*가운데 창*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffad8;
    font-family:'SUIT-Regular';
    color: #7c5435;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    width: 413px;
    height: 639px;
    box-sizing: border-box;
}
.popup3 p{
    color: #7c5435;
    font-weight: bold;
    margin-bottom: 50px;
}
.popup3 h1{
    border-top: 5px solid #7c5435;
    padding: 15px 0 30px 0;
}
.popup3 h2{
    margin-bottom: 50px;
}
.popup3 img{
    display: block;
    margin: 15px auto 30px;
}
.popup3 table{
    width: 100%;   
    border-collapse: collapse;
}
.popup3 th{
    background-color: #ffb857;
    width: 25%;
}
.popup3 td{
    background-color: #ffd179;
    text-align: center;
    font-weight: bold;
    width: 25%;
}
.popup3 div a:nth-child(2){
    position: absolute;
    right: 30px;
    top: 20px;
}
/*버튼 꾸미기*/
.popup3 div a:nth-child(6){
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    top: 550px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
.popup3 div a:nth-child(6) span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
.popup3 div a:nth-child(6) span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
.popup3 div a:nth-child(6) span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
.popup3 div a:nth-child(6) span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
.popup3 div a:nth-child(6) span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
.popup3 div a:nth-child(6):hover{
    color: #7c5435;/*글자색 바꾸기*/
}
.popup3 div a:nth-child(6):hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}




/*메뉴-띠에니메이션*/
.marquee3{
    position: relative;
    background-color: #f6a247;
    overflow: hidden;
    width: 100%;
    height: 56px;
    padding: 80px 0;
    margin: 0 0 0 0;
}
.marquee3 div{
    width: 200%;
    height: 56px;
    position: absolute;
    background: url(../images/menu_text.png) repeat-x ;
    background-color: #f6a247;
    animation: marquee 7s linear infinite;
}
@keyframes marquee3{
    0%{left: 0;}
    100%{left: -100%;}
}




/*멤버십-메뉴박스*/
#membership2{
    width: 100%;
    height:350px;
    background: url(../images/mem_bg.png) no-repeat center;
    box-sizing: border-box;
}
.mem_inner2{
    width: 1320px;
    height: 350px;
    margin: auto;
    position: relative;
}
.mem_inner2 img{
    position: absolute;
    top: 185px;
    left: 370px;
    display: inline-block;
}
.mem_inner2 h1{
    position: absolute;
    top: 70px;
    left: -180px;
    display: inline-block;
    border: 5px solid #fff;
    background-color: #f6a247;
    color: #fff;
    font-size: 20px;
    border-radius:50px;
    text-align: center;
    padding: 15px 12px;
}
.mem_icon{
    position: absolute;
}
.mem_icon :nth-child(1){
    top: 200px;
    left: 240px;
    animation: mem_icon1 0.5s ease-in-out infinite alternate;
}
.mem_icon :nth-child(2){
    top: 70px;
    left: 320px;
    animation: mem_icon2 0.5s ease-in-out infinite alternate;
}
.mem_icon :nth-child(3){
    top: 5px;
    left: 470px;
    animation: mem_icon3 0.5s ease-in-out infinite alternate;
}
.mem_icon :nth-child(4){
    top: 5px;
    left: 700px;
    animation: mem_icon3 0.5s ease-in-out infinite alternate;
}
.mem_icon :nth-child(5){
    top: 70px;
    left: 850px;
    animation: mem_icon2 0.5s ease-in-out infinite alternate;
}
.mem_icon :nth-child(6){
    top: 200px;
    left: 930px;
    animation: mem_icon1 0.5s ease-in-out infinite alternate;
}
@keyframes mem_icon1{
    0%{top:200px ;} /*원래위치에서 시작*/
    100%{top: 190px;}
}
@keyframes mem_icon2{
    0%{top:70px ;} /*원래위치에서 시작*/
    100%{top: 60px;}
}
@keyframes mem_icon3{
    0%{top:5px ;} /*원래위치에서 시작*/
    100%{top: -5px;}
}
/*멤버십-혜택*/
#membershipbox{
    margin: 100px 0;
}
.membershipbox_inner{
    width: 1320px;
    overflow: hidden;
    margin:  100px auto;
    text-align: center;
}
.membershipbox_inner h1{
    font-size: 40px;
    padding:  10px 0 20px 0;
}
.membershipbox_inner{
    width: 1320px;
    margin: auto;
}
.membershipbox_inner div{
    width: 1160px;
    margin: 50px auto;
    overflow: hidden;
}
.membershipbox_inner div:nth-child(odd){
    text-align: left;
}
.membershipbox_inner div:nth-child(even){
    text-align: right;
}
.membershipbox_inner div p{
    font-size: 20px;
    color: #fff;
}
#membershipbox .membershipbox_inner div:nth-child(3){
    background: url(../images/mem_text.png) no-repeat;
    padding: 92px 0 0 190px;
    height: 181px;
    box-sizing: border-box;
}
#membershipbox .membershipbox_inner div:nth-child(4){
    background: url(../images/mem_text2.png) no-repeat right;
    padding: 92px 183px 0 0;
    height: 184px;
    box-sizing: border-box;
}
#membershipbox .membershipbox_inner div:nth-child(5){
    background: url(../images/mem_text3.png) no-repeat ;
    padding: 90px 0 0 190px;
    height: 180px;
    box-sizing: border-box;
}
#membershipbox .membershipbox_inner div:nth-child(6){
    background: url(../images/mem_text4.png) no-repeat right;
    padding: 95px 192px 0 0;
    height: 182px;
    box-sizing: border-box;
}
#membershipbox .membershipbox_inner div:nth-child(7){
    background: url(../images/mem_text5.png) no-repeat ;
    padding: 95px 0 0 190px;
    height: 181px;
    box-sizing: border-box;
}
#membershipbox .membershipbox_inner div:nth-child(8){
    background: url(../images/mem_text6.png) no-repeat right;
    padding: 95px 192px 0 0;
    height: 182px;
    box-sizing: border-box;
}

/*멤버십-어플*/
#app{
    background-color: #fff2ec;
}
.app_inner{
    width: 1320px;
    overflow: hidden;
    margin: 0 auto; 
    text-align: center;
}
.app_text> div{
    float: left;
    position: relative;
    width: 420px;
    height: 661px;
    margin-bottom: 100px;
}
.app_text div:nth-child(2){
    margin: 0 17px;
}
.app_inner h1{
        font-size: 40px;
        padding:  100px 0 20px 0;
}
.app_inner h2{
    margin-bottom:100px; 
}
.app_text div h3{
    background-color: #f6a247;
    color: #fff;
    border-radius: 50px;
    padding:7px 10px;
    display:block; 
    box-sizing: border-box;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}
.app_text div p{
    position: absolute; 
    font-family: 'SDSamliphopangche_Basic';
}
.app_text div p:nth-child(3){
    top: 445px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    margin: 0px -110px 0 0;
    color: #f6a247;
}
.app_text div p:nth-child(4){
    top: 510px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    margin: 0px -115px 0 0;
}
.app_text div:nth-child(1) img:nth-child(5){
    top: 240px;
    POSITION: absolute;
    Z-INDEX: 99;
    left: 162px;
    width: 20%;
    animation: bee 0.7s linear infinite alternate;
}
.app_text div:nth-child(2) img:nth-child(5){
    top: 334px;
    POSITION: absolute;
    left: 242px; 
    animation: cookie 2.7s linear infinite alternate;
}
.app_text div:nth-child(3) img:nth-child(5){
    top: 367px;
    POSITION: absolute;
    left: 276px;
    animation: coin 2s linear infinite;
}
@keyframes bee{
    0%{top: 240px;}
    100%{top: 230px;}
}
@keyframes coin{
    0%{transform: rotatey(0deg);}
    100%{transform: rotatey(360deg);}
}
@keyframes cookie{
    0%{transform: rotatey(0deg);}
    100%{transform: rotatey(360deg);}
}
.app_text div:nth-child(2){
    perspective: 350px;
}
.app_text div:nth-child(3){
    perspective: 350px;
}
/*멤버십-띠에니메이션*/
.marquee4{
    position: relative;
    background-color: #dda994;
    overflow: hidden;
    width: 100%;
    height: 56px;
    padding: 80px 0;
    margin: 0 0 0 0;
}
.marquee4 div{
    width: 200%;
    height: 56px;
    position: absolute;
    background: url(../images/membership_text.png) repeat-x ;
    background-color: #dda994;
    animation: marquee 7s linear infinite;
}
@keyframes marquee4{
    0%{left: 0;}
    100%{left: -100%;}
}


/*커뮤니티*/
/*띠에니메이션-3*/
.marquee5{
    position: relative;
    background-color: #f6a247;
    overflow: hidden;
    width: 100%;
    height: 56px;
    padding: 80px 0;
    margin-top: 0px ;
}
.marquee5 div{
    width: 200%;
    height: 56px;
    position: absolute;
    background: url(../images/com_text.png) repeat-x;
    background-color: #f6a247;
    animation: marquee 7s linear infinite;
}
@keyframes marquee5{
    0%{left: 0;}
    100%{left: -100%;}
}

/*공지사항*/

.n_inner{
    width: 1320px;
    overflow: hidden;
    margin:100px auto;
    display: block;
    font-family: 'SUIT-Regular';
}
.n_inner h2:nth-child(1){
    font-size: 40px;
    margin:10px 0 100px 0px;
    font-family: 'Cafe24Ssurround';
}
/*박스*/
.box1 {
    width: 610px;
    height: 400px;
    padding: 30px;
    margin: 0 100px 0 0;
    display: block;
    border-top: 2px solid #f6a247;
    border-bottom: 2px solid #f6a247;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.box1 h1{
    margin: -48px 0 80px 75px;
}
.box1 p{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.box1 h2{
    padding: 50px 0;
}

/*공유버튼 꾸미기*/
.s{
    position: absolute; 
    top: 322px;
    right: 160px;
}
.s_h{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.s:hover .s_h{
 opacity: 1;
} 
/*버튼 꾸미기*/
.box1 :nth-child(10){position: relative;}
.box1 p a{
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px -25px;
    padding: 1px 26px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 0px;
    top: -76px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
.box1 p a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
.box1 p a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
.box1 p a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
.box1 p a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
.box1 p a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
.box1 p a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
.box1 p a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}

/*박스2*/
.box2 {
    width: 610px;
    height: 400px;
    padding: 30px;
    margin: 0 0 0 0;
    display: block;
    border-top: 2px solid #f6a247;
    border-bottom: 2px solid #f6a247;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.box2 h1{
    margin: -48px 0 80px 75px;
}
.box2 p{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.box2 h2{
    padding: 72px 0;
}
.s{
    position: absolute;
    top: 322px;
    right: 160px;
}
/*버튼 꾸미기*/
.box2 :nth-child(9){position: relative;}
.box2 p a{
    text-align: center;
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 4px -25px;
    padding: 1px 26px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 0px;
    top: -96px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
.box2 p a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 120%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
.box2 p a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
.box2 p a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
.box2 p a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
.box2 p a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
.box2 p a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
.box2 p a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}

/*박스3*/
.box3 {
    width: 610px;
    height: 400px;
    padding: 30px;
    margin: 0 100px 0 0;
    display: block;
    border-bottom: 2px solid #f6a247;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.box3 h1{
    margin: -48px 0 80px 75px;
}
.box3 p{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.box3 h2{
    padding: 50px 0;
}
.s{
    position: absolute;
    top: 322px;
    right: 160px;
}
/*버튼 꾸미기*/
.box3 p a{
    text-align: center;
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px -25px;
    padding: 1px 26px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 0px;
    top: -76px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
.box3 :nth-child(10){position: relative;}
.box3 p a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
.box3 p a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
.box3 p a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
.box3 p a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
.box3 p a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
.box3 p a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
.box3 p a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}

/*박스4*/
.box4 {
    width: 610px;
    height: 400px;
    padding: 30px;
    margin: 0 0 0 0;
    display: block;
    border-bottom: 2px solid #f6a247;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.box4 h1{
    margin: -48px 0 80px 75px;
}
.box4 p{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.box4 h2{
    padding: 50px 0;
}
.s{
    position: absolute;
    top: 348px;
    right: 115px;
}
/*버튼 꾸미기*/
.box4 :nth-child(10){position: relative;}
.box4 p a{
    text-align: center;
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 0px -25px;
    padding: 1px 26px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    right: 0px;
    top: -76px;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
.box4 p a span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 120%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
.box4 p a span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
.box4 p a span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
.box4 p a span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
.box4 p a span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
.box4 p a:hover{
    color: #7c5435;/*글자색 바꾸기*/
}
.box4 p a:hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}

/*이벤트 상세페이지*/
#event_contect{
    width: 1320px;
    margin: 100px auto;
    text-align: center;
    position: relative;
    border-bottom: #f6a247 3px solid;
}
#event_contect h1{
    font-size: 40px;
    margin: 100px 0 0 0;
    padding: 30px 0;
    border-top: #f6a247 3px solid;
    border-bottom: #f6a247 3px solid;
}
#event_contect h2{
    text-align: left;
    font-size: 25px;
    padding: 30px 0 30px 10px;
    border-bottom: #f6a247 3px solid;
}
/*공유버튼*/
.s_2{
    position: absolute;
    top: 119px;
    right: 10px;
}
.s_h2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.s_2:hover .s_h2{
    opacity: 1;
}
.event_text{
    background-color: #fff;
    border-bottom: #f6a247 3px solid;
    margin-bottom: 100px;
}
.event_text img{
    margin: 40px;
}
#event_contect h3{
    text-align: left;
    font-size: 25px;
    padding: 30px 0 30px 10px;
    border-top: #f6a247 3px solid;
    border-bottom: #f6a247 3px solid;
}
#event_contect h4{
    text-align: left;
    font-size: 25px;
    padding: 30px 0 30px 10px;
}
/*버튼 꾸미기*/
#event_contect a:nth-child(5) {
    text-decoration: none;
    color: #f6a247;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #f6a247;
    display: inline-block;
    margin: 80px 30px 0 0;
    padding: 2px 30px;
    border-radius: 50px;
    position: absolute;/*버블의 기준*/
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
    transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}
/*버튼 버블 만들기*/
#event_contect a:nth-child(5) span{
    display: inline-block;
    width: 25%;/*100% 나누기 버블 갯수 만큼*/
    height: 100%;
    background-color: #f6a247;
    position: absolute;
    top: 110%;
    border-radius: 50%;/*원형으로 만들기*/
    transition: all 0.7s;/*서서히 변하게 만들기*/
    z-index: -1;/*글자 뒤로 버블 보내기*/
}
#event_contect a:nth-child(5) span:nth-child(1){
    left: 0;
    transition-delay: 0s;/*트랜지션 딜레이*/
}
#event_contect a:nth-child(5) span:nth-child(2){
    left: 30%;
    transition-delay: 0.1s;
}
#event_contect a:nth-child(5) span:nth-child(3){
    left: 60%;
    transition-delay: 0.2s;
}
#event_contect a:nth-child(5) span:nth-child(4){
    left: 90%;
    transition-delay: 0.3s;
}
/*호버효과*/
#event_contect a:nth-child(5):hover{
    color: #7c5435;/*글자색 바꾸기*/
}
#event_contect a:nth-child(5):hover span{
    transform: scale(1.6, 1.6);
    top: 0;
}

